body {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  letter-spacing: 2px;
}

#statement {
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  text-align: left;
  line-height: 1.8;
}

#list {
  list-style-type: none;
}

#nav {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 2;
  justify-content: center;
  border-bottom: 2px solid black;
  margin-bottom: 12px;
  width: 100%;
  height: 10%;
}
#footer {
  flex-grow: 2;
  border-top: 2px solid black;
  margin-top: auto;
}

#home-desc {
  text-align: center;
}
#home-paragraph {
  flex-grow: 4;
  padding-left: 100px;
  padding-right: 100px;
  text-indent: 50px;
  align-items: center;
  text-align: left;
  line-height: 1.8;
}

/* Find way to align the text fields and labels... */
#input-form {
  display: inline-block;
  border: 2px solid black;
}

#binder-form {
  padding-bottom: 20px;
}
#binder-input-name {
  margin-left: 10px;
  margin-right: 10px;
}
#binder-link {
  align-self: center;
  padding-bottom: 10px;
  border-top: 2px solid black;
}
#binder-name {
  padding-top: 20px;
}
#binder-image {
  width: 100px;
  height: 100px;
}

#deck-link {
  align-self: center;
  padding-bottom: 10 px;
  border-top: 2px solid black;
}
#deck-image {
  width: 100px;
  height: 100px;
}

#flashcard-frame {
  padding-top: 10px;
  padding-bottom: 10px;
}
#flashcard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
#flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#flashcard:hover #flashcard-inner {
  transform: rotateY(180deg);
}
#flashcard-front, #flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#flashcard-front {
  background-color: crimson;
  color: white;
}
#flashcard-back {
  background-color: aqua;
  transform: rotateY(180deg);
}

#edit-button {
  background-color: chocolate;
  color: white;
}
#delete-button {
  background-color: maroon;
  color: white;
}

/* For medium screens */
@media all and (max-width: 800px){
  #nav {
    justify-content: space-around;
  }
}

/* For small screens */
@media all and (max-width: 500px) {
  #nav {
    flex-direction: column;
  }
}

/* Classes */
.flex-page-container {
  display: flex;
  flex-flow: column wrap;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.page {
  flex-grow: 4;
  height: 60%;
}