@use '../src/scss/flashcard.scss';
@use '../src/scss/nav.scss';
@use '../src/scss/footer.scss';

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  height: 300px;
  flex-direction: column;
  flex-grow: 6;
  min-height: 100vh;
  background: linear-gradient(to bottom, aqua, coral, red);
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

#content {
  flex: 1 0 auto;
  min-height: 80vh;
}

#link {
  padding: 10px;
}

#title {
  letter-spacing: 2px;
  margin: auto;
  text-align: center;
}

#statement {
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  line-height: 1.8;
}

#list {
  list-style-type: none;
}

#username {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: whitesmoke;
}


#paragraph {
  padding-left: 100px;
  padding-right: 100px;
  text-indent: 50px;
  text-align: left;
  line-height: 1.8;
}

/* Find way to align the text fields and labels... */
#input-form {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
}
#input-form input {
  width: fit-content;
  clear: both;
}

#binder-link {
  align-self: center;
  padding-bottom: 10px;
  border-top: 2px solid black;
}
#binder-image {
  width: 100px;
  height: 100px;
}

#deck-link {
  align-self: center;
  padding-bottom: 10 px;
  border-top: 2px solid black;
}
#deck-image {
  width: 100px;
  height: 100px;
}



/* For medium screens */
@media all and (max-width: 800px){
  #nav {
    justify-content: space-around;
  }
}

/* For small screens */
@media all and (max-width: 500px) {
  #nav {
    flex-direction: column;
  }
}

/* Classes */
.flex-page-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.buttons {
  width: 100%;
  table-layout: fixed;
}
.buttons button {
  width: 10%;
  white-space: normal;
}