#nav {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    justify-content: flex-end;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    margin: auto;
    margin-bottom: 12px;
    width: 100%;
    height: 10%;
  }