#content {
    flex: 1 0 auto;
    min-height: 80vh;
    flex-wrap: wrap;
}

/* Find way to align the text fields and labels... */
#input-form {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}
#input-form input {
    width: fit-content;
    clear: both;
}

#link {
    align-self: center;
    padding-bottom: 10 px;
    border-top: 2px solid black;
}

#image {
    width: 100px;
    height: 100px;
  }

  #title {
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  #paragraph {
    padding-left: 100px;
    padding-right: 100px;
    text-indent: 50px;
    text-align: left;
    line-height: 1.8;
  }

  #statement {
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    line-height: 1.8;
  }

  #list {
    list-style-type: none;
  }